ENVIRONMENT=DEV
PORT=5555
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5555/api
SUPABASE_URL=
SUPABASE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GMAIL_PUBSUB_TOPIC=
ORG_NAME=hackillinois
